<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE]>           <html class="no-js ie-shit"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>

  <!--
  <meta property="og:image" content="http://crip.io/images/fbimage.png"/>
  <meta property="og:title" content="Crip as a Service"/>
  <meta property="og:url" content="http://crip.io/"/>
  <meta property="og:site_name" content="Crip as a Service"/>
  <meta property="og:description" content="Two cripeneurs making the world a little bit better with web accessibility, testing and front-end development"/>
  -->

  <meta name="description" content="Accessibility Checklist">
  <meta name="keywords" content="Web accessibility, accessibility, checklist, wai-aria, crip as a service">
  <meta name="author" content="Crip as a Service">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />

  <script type="text/javascript" src="//use.typekit.net/jvu6kzp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="github.css">

  <title>Accessibility Checklist</title>
  <meta charset="UTF-8">
</head>
<body ng-app="checklist" ng-controller="CheckController">
  <div class="site">
    <header class="header">
      <h1 class="site-title">Accessibility Checklist</h1>
    </header>

    <main class="main" role="main">

      <section class="section section-waiaria" ng-repeat="category in categories">
        <hgroup class="section-header">
          <h2 class="section-title">{{ category.label }}</h2>
        </hgroup>

        <ul class="checklist">
          <li class="check-item" ng-repeat="check in category.checklist">
            <div class="item-inner">
              <label class="control checkbox">
                <input type="checkbox">
                <span class="control-indicator"></span>
                <h3 class="item-title">{{ check.title }}</h3>
                <div class="item-description">
                  <p>{{ check.description }}</p>
                </div>
              </label>
            </div>
          </li>
        </ul>

        </section>

        <section class="section section-waiaria">
        <hgroup class="section-header">
          <h2 class="section-title">WAI-ARIA</h2>
          <small class="section-description">Accessible Rich Internet Applications Suite</small>
        </hgroup>

        <ul class="checklist">
          <li class="check-item">
            <div class="item-inner">
              <label class="control checkbox">
                <input type="checkbox">
                <span class="control-indicator"></span>
                <h3 class="item-title">Provide meaningful alternative text for your images.</h3>
                <div class="item-description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, praesentium accusantium excepturi quidem quis nemo doloribus placeat incidunt inventore perspiciatis commodi similique obcaecati ipsa possimus debitis eligendi reiciendis. Cumque, quae!</p>
                  <pre class="item-code"><code class="html">&lt;section aria-expanded="true" class="expand"&gt;<br>  &lt;p&gt;This section is currently expanded.&lt;/p&gt;<br>&lt;/section&gt;<br><br>&lt;section aria-expanded="false" class="hide"&gt;<br>  &lt;p&gt;This section is currently hidden.&lt;/p&gt;<br>&lt;/section&gt;</code></pre>
                </div>
              </label>
            </div>
          </li>
          <li class="check-item">
            <div class="item-inner">
              <label class="control checkbox">
                <input type="checkbox">
                <span class="control-indicator"></span>
                <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <div class="item-description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, nam cupiditate consequuntur esse molestiae labore aspernatur. Ad, totam, necessitatibus, rerum, amet maiores officiis magni et est ducimus iure placeat reiciendis.</p>
                </div>
              </label>
            </div>
          </li>
          <li class="check-item">
            <div class="item-inner">
              <label class="control checkbox">
                <input type="checkbox">
                <span class="control-indicator"></span>
                <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <div class="item-description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, praesentium accusantium excepturi quidem quis nemo doloribus placeat incidunt inventore perspiciatis commodi similique obcaecati ipsa possimus debitis eligendi reiciendis. Cumque, quae!</p>
                </div>
              </label>
            </div>
          </li>
          <li class="check-item">
            <div class="item-inner">
              <label class="control checkbox">
                <input type="checkbox">
                <span class="control-indicator"></span>
                <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <div class="item-description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, nam cupiditate consequuntur esse molestiae labore aspernatur. Ad, totam, necessitatibus, rerum, amet maiores officiis magni et est ducimus iure placeat reiciendis.</p>
                </div>
              </label>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer">
      <h2 class="credit">Created with <img src="images/heart.svg" class="heart" width="20px" height="auto" alt="heart"> by <a href="http://crip.io" class="credit-link">Crip as a Service</a></h2>

      <script type="text/javascript" src="http://cdn.getshar.es/lib/0.8.0.min.js"></script>
      <link type="text/css" rel="stylesheet" href="http://cdn.getshar.es/lib/0.8.0.min.css"/>
      <script type="text/javascript">
        new GetShare({
          /*root: jQueryElement*/
          network: "twitter",
          button: {text: "Tweet"},
          share: {
            url: "http://check.crip.io",
            message: "Accessibility Checklist by @cripreneurs http://check.crip.io"
          },
          counter: {position: "inside"}
        });
        new GetShare({
          /*root: jQueryElement*/
          network: "facebook",
          button: {text: "Share"},
          share: {
            url: "http://check.crip.io",
            message: "Accessibility Checklist by @cripreneurs http://check.crip.io"
          },
          counter: {position: "inside"}
        });
      </script>
    </footer>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
  <script src="js/master.js"></script>
</body>
</html>
