/*------------------------------------* 
   $DEFAULTS 
*------------------------------------*/
/** 
 * Unique style, colors and misc variables 
 */

$brand-color = #D4233E
$brand-color--lighten = lighten($brand-color, 10%)
$brand-color--darken = darken($brand-color, 10%)

$brand-round = 4px

$link-color = #D4233E

$base-font-size = 1em
$base-line-height = 1.5
$base-font-family = "omnes-pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,arial,sans-serif
$base-color = #21262C

// Global border box
$global-border-box = true

// Base spacing unit
$base-spacing-unit = 15px

// Checklist colors and misc
$checked-color = #48AD83
